DATABASE_URL=postgresql://postgres:password@host.railway.internal:5432/railway
JWT_SECRET=troque-por-uma-chave-grande-e-secreta
PORT=3001
CLIENT_URL=http://127.0.0.1:5173
GOOGLE_CLIENT_ID=179853125831-5nnp0kn44t6c2cq5k2f6cp2c1frkeaog.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=179853125831-5nnp0kn44t6c2cq5k2f6cp2c1frkeaog.apps.googleusercontent.com
